.jobs_form {
  padding: 100px 0;
  .form-control {
    border-radius: 7px;
    background-color: rgba(245, 247, 250, 0.386);

    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .form-control {
    height: 50px;
    background-color: #f7f7f7;
    border: 0.5px solid #212c81;
    border-radius: 10px;

    &::placeholder {
      color: #8d8d8d;
      // font-family: somlight;
    }
  }

  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: block;
  }
  .btn-submit {
    margin-top: 31px;
    text-align: left;

    .btn-style {
      background-color: #263f91;
      border-radius: 6px;
      border-color: #263f91;

      &:hover {
        color: #263f91;
        background-color: #fff;
      }
    }
  }
  input[type=file]{
    line-height: 40px;
  }
}

.jobs_form_contet {
  text-align: center;
  .icon {
    text-align: center;
    img {
      width: 160px !important;
      margin: auto;
    }
  }
  p {
    width: 95%;
    margin: auto;
    margin: 15px auto;
    font-size: 1.5rem;
  }
}


@media(max-width: 1300px){
  .custom-navbar .list-item{
    margin-left: 15px;
    margin-right: 15px;
  }
}